## La Pregunta 2

Modulo python o paquetes

In [ ]:
import matplotlib.pyplot as plt
import scipy.stats as ss
import numpy as np
import pandas as pd

> Datos

In [ ]:
banco_financiero = {'li': [100,250,400,550,700,850],
            'ls' : [250,400,550,700,850,1000],
            'banco' : [6,12,18,27,21,17],
            'financiero': [20,25,17,12,9,7]}
df = pd.DataFrame(banco_financiero, columns = ['li', 'ls', 'banco','financiero'])
df

    li    ls  banco  financiero
0  100   250      6          20
1  250   400     12          25
2  400   550     18          17
3  550   700     27          12
4  700   850     21           9
5  850  1000     17           7

### a)Mediante un intervalo de confianza del 95% determina si la varianza de los montos de los prestamos es igual entre ambas instituciones

In [ ]:
df["marca"]=(df.li+df.ls)/2
media1=sum(df.banco*df.marca)/len(df)
Var_banco= (sum( (df.marca-media1)**2) )/(len(df)-1)
media2=sum(df.financiero*df.marca)/len(df)
Var_financiero= (sum( (df.marca-media2)**2) )/(len(df)-1)

In [ ]:
li=(Var_banco/Var_financiero)*ss.f.ppf (q = .05, dfn = 5, dfd = 5)
ls=(Var_banco/Var_financiero)*ss.f.ppf (q = 1-.05, dfn = 5, dfd = 5)

In [ ]:
print("limite inferior es: ",li,"limite superio es", ls)

limite inferior es:  0.4948409239999256 limite superio es 12.621325312837119

En el intervalo no incluye el cero por lo tanto son diferentes las varianzas

## B)

In [ ]:
#banco
SL = 0.05
std1 = np.sqrt(Var_banco)
n1 = len(df)

# finance
std2 = np.sqrt(Var_financiero)
n2 = len(df)

# Pooled sample variance
sp_var = ((n1 - 1)*std1**2 + (n2 - 1)*std2**2)/(n1 + n2 - 2)

# t-value
tval = ss.t.isf(SL/2, n1 + n2 -2)

# Margin of Error
ME = tval * np.sqrt(sp_var/n1 + sp_var/n2)

# The boundaries of the CI
diff = media1 - media2

lower = diff - ME
upper = diff + ME

# Print the CI
print('\nCon un nivel de confianza {:2.0%} intervalo para la diferencia de media es de [{:4.3f}, {:4.3f}]'.format(1-SL, lower, upper))

Con un nivel de confianza 95% intervalo para la diferencia de media es de [-7992.123, 15233.790]

Como incluye el cero no hay diferencia entre las medias

### C)

In [ ]:
pA=(6+12+18)/sum(df.banco)
pB=(20+25+17)/sum(df.financiero)
diff = pA - pB
nA=sum(df.banco)
nB=sum(df.financiero)
# Margin of Error
CL = 0.95
SL = 1-CL
t_val = ss.norm.isf(SL/2)
ME = t_val * np.sqrt(pA * (1-pA)/nA + pB * (1-pB)/nB)

# Boundaries
lower = diff - ME
upper = diff + ME

# CI
print('Con un {:2.0%} de confianza La diferencia de proporcion es del [{:4.3f}, {:4.3f}]'.format(CL, lower, upper))

Con un 95% de confianza La diferencia de proporcion es del [-0.466, -0.199]

Como es negativo finaciero es mayor la proporcion en los creditos inferiores a 550